*
{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: darkslategray;
  }

.titlebar
{
    color: white;
    text-align: center;
    padding: 10px;
}
  
.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.container div
{
    border-color: ghostwhite;
    border-width: 3px;
    border-style: double;
    width: 200px;
    color: white;
    margin: 15px;
    flex-basis: 20%;
    text-align: center;
}

img
{
    margin-top: 15px;
    width: 200px;
    height: 200px;
}

